@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 213 33% 95%;
    --foreground: 214 21% 23%;
    --card: 0 0% 100%;
    --card-foreground: 214 21% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 21% 23%;
    --primary: 214 21% 23%;
    --primary-foreground: 213 33% 98%;
    --secondary: 213 20% 90%;
    --secondary-foreground: 214 21% 23%;
    --muted: 213 20% 90%;
    --muted-foreground: 214 15% 45%;
    --accent: 15 59% 75%;
    --accent-foreground: 214 21% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 20% 85%;
    --input: 213 20% 85%;
    --ring: 15 59% 75%;
    --radius: 0.5rem;
    --header-background: 213 21% 23%;
    --header-foreground: 213 33% 98%;
  }

  .dark {
    --background: 214 21% 15%;
    --foreground: 213 33% 95%;
    --card: 214 21% 15%;
    --card-foreground: 213 33% 95%;
    --popover: 214 21% 15%;
    --popover-foreground: 213 33% 95%;
    --primary: 213 33% 98%;
    --primary-foreground: 214 21% 15%;
    --secondary: 213 20% 25%;
    --secondary-foreground: 213 33% 98%;
    --muted: 213 20% 25%;
    --muted-foreground: 214 15% 65%;
    --accent: 15 59% 75%;
    --accent-foreground: 214 21% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 213 20% 30%;
    --input: 213 20% 30%;
    --ring: 212.7 26.8% 83.9%;
    --header-background: 213 21% 23%;
    --header-foreground: 213 33% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
